@font-face {
    font-family: 'Kalameh';
    src: url('fonts/Kalameh-Regular.ttf');
}

body {
    font-family: 'Kalameh', sans-serif;
    background-color: #f4f4f5; /* خاکستری خنثی */
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 16px; /* گوشه‌های نرم */
    box-shadow: 0 10px 30px rgba(0,0,0,0.05); /* سایه نرم */
    width: 100%;
    max-width: 400px;
}

button {
    width: 100%;
    padding: 12px;
    background: #007AFF; /* آبی استاندارد تلگرام */
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}